
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$cream\".\A         on line 5 of /Users/Stephen/Desktop/Digital Crafts/ecommerce-coffee-site/assets/compass/sass/views/register.scss\A \A 1: .register-wrapper{\A 2: 	padding-top: 100px;\A 3: 	// text-align: center;\A 4: 	padding-bottom: 136px;\A 5: 	background-color: $cream;\A 6: 	h1, p{\A 7: 		text-align: center;\A 8: 	}\A 9: 	.container form{\A 10: 		margin: auto;"; }
