
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$cream\".\A         on line 22 of /Users/Stephen/Desktop/Digital Crafts/ecommerce-coffee-site/assets/compass/sass/views/shipping.scss\A \A 17: 		}\A 18: 	}\A 19: }\A 20: \A 21: .shipping-block{\A 22: 	border: 1px solid darken($cream, 10%);\A 23: 	border-radius: 5px;\A 24: 	margin: 30px auto;\A 25: 	padding: 30px;\A 26: }\A 27: "; }
